*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #e1e8ed;
  margin: 40px auto 100px auto;
  position: relative;
  max-width: 880px;

}
section, aside, footer {
  background: #fff;
  border: 1px solid;
  border-radius: 6px;
  color: #fff;
  display: block;
  font-weight: 400;
  padding: 12px 17px;
  text-align: center;

}
section,
aside,
footer {
  margin: 0 1.5% 42px 1.5%;
  background: #f8f8f8;
}
section {
  float: right;
  width: 58%;
  height: 100%;
  position: relative;
  max-width: 650px;
  border: #ddd 1px solid;    
}
aside {
  float: left;
  width: 35%;
  height: 80.3%;
  position: absolute;
  max-width: 340px;
  border: #ddd 1px solid;

}
footer {
  clear: both;
  margin-bottom: 0;
}
header{
  text-align: center;
}
ul {
  float: left;
  display: inline-block;
  list-style: none;
  
  overflow: hidden;
}
li {
  font-family: 'Lato', sans-serif;
  color: black;
  font-weight: 400;
  padding: 10px;
  font: black;
  border: #ddd 1px solid;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  border-top-color: #eee;
  border-bottom-color: #bbb;
}
.nav-bar {
  display: inline;
  text-align: center;
}
header.main-header {
  display: inline;
  vertical-align: top;
}
nav li{
  display: inline;
  margin-right: 40px;
}

/*Display Tweets*/
.tweets {
  font-size: 18px;
  height: 600px;
  margin-top: 9%;
  padding-left: 0%;
  text-align: left;
  width: 90%;
  min-width: 427px;
}

/*Input Box for user tweets*/
 form {
  font-family: 'Lato', sans-serif;
  color: black;
  border: 1px hsla(15, 7%, 68%, 0.84) solid;
  background: #e1e8ed;
  display: block;
  height: 50px;
  width: 560px;
  border-radius: 4px;
  min-width: 427px;
}
.user-tweet {
  height: 38px;
  width: 84%;
  position: absolute;
  text-align: left;
}
.user-tweet p {
  text-align: left;
}
form input {
  height: 68%;
  border-radius: 10px;
  padding: 6px 8px 6px 4px;;
  width: 80%;
  text-align: left;
  margin: 6px 10px 6px 10px;
}
.input-text{
  height: 20px;
  padding-left: 8px;
}
.twitter-box {
  margin-top: -5px;
  margin-left: 8px;
  position: relative;
}
button {
  text-align: right;
  position: absolute;
  margin: 6px 10px 6px -3px;
}
}
button[type="submit"]{
  height: 25px;
  width: 60px;
  float: right;
}
.submit-button {
  float: right;
}
span {
  font: 4px;
}


/*PROFILE PICTURE and ASIDE bar*/
.profile-page {
 /*outline: 1px solid red !important;*/
}
.profile-name {
 /*outline: 1px solid red !important;*/
 text-align: left;
}
.picture-info-container {
  /*for older browsers*/
  display: -webkit-flex;
  display: flex;
  /*outline: 1px solid red !important;*/
  /*allows children to sit next to each other*/
}
/*children of the .picture-info-container*/
 .my-info {
  height: 100%;
  margin: 0px 0px 0px 0px; 
  max-width: 185px;
  max-height: 150px;
  width: 55%;

  padding-left: 5px;
  /*outline: 1px solid red !important;*/  
}
.my-picture{
  max-width: 160px;
  max-height: 140px;
  width: 45%;
  height: 140px;
 /* outline: 1px solid red !important;*/
}
.prof-pic {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
h3 {
  color: black;
}
/*This is for the li text next to my profile picture*/
.twitter-handle {
  font-size: 14px;
  text-align: left;
  color: grey;
  border: none;
}
.personal-info {
  font-size: 15px;
  text-align: left;
  border: none;
}


/*children of the .picture-info-container*/
