*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #e1e8ed;
  margin: 40px 200px 100px 200px;
  position: relative;
}
section, aside, footer {
  background: #fff;
  border: 1px solid;
  border-radius: 6px;
  color: #fff;
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  font-weight: 400;
  padding: 12px 17px;
  text-align: center;

}

section,
aside,
footer {
  margin: 0 1.5% 42px 1.5%;
}
section {
  float: right;
  width: 58%;
  height: 100%;
  position: relative;
  max-width: 650px;
}
aside {
  float: left;
  width: 30%;
  height: 80.3%;
  position: absolute;
  max-width: 340px;

}
footer {
  clear: both;
  margin-bottom: 0;
}
header{
  text-align: center;
}
ul {
  float: left;
  display: inline-block;
  list-style: none;
  
  overflow: hidden;
}
li {
  font-family: 'Lato', sans-serif;
  color: black;
  font-weight: 400;
  padding: 10px;
  font: black;
  border-style:solid; border-color: grey; border-width: thin; border-radius: 4px; !important
}
.nav-bar {
  display: inline;
  text-align: center;
}
header.main-header {
  display: inline;
  vertical-align: top;
}
nav li{
  display: inline;
  margin-right: 40px;
}

/*Display Tweets*/
.tweets {
  font-size: 18px;
  height: 600px;
  margin-top: 6%;
  padding-left: 0%;
  text-align: left;
  width: 90%;
}

/*Input Box for user tweets*/
 form {
  font-family: 'Lato', sans-serif;
  color: black;
  border: 1px hsla(15, 7%, 68%, 0.84) solid;
  background: #e1e8ed;
  display: block;
  height: 50px;
  width: 560px;
  border-radius: 4px;
}
.user-tweet {
  height: 38px;
  width: 86%;
  position: absolute;
  text-align: left;
}
.user-tweet p {
  text-align: left;
}
form input {
  height: 30%;
  border-radius: 10px;
  padding: 6px 8px 6px 4px;;
  width: 80%;
  text-align: left;
  margin: 6px 10px 6px 10px;
}
.input-text{
  height: 20px;
  padding-left: 8px;
}
.twitter-box {
  margin-top: -5px;
  margin-left: 8px;
  position: relative;
}
button {
  text-align: right;
  position: absolute;
  margin: 6px 10px 6px -3px;
}
}
button[type="submit"]{
  height: 25px;
  width: 60px;
  float: right;
}
.submit-button {
  float: right;
}


/*PROFILE PICTURE and ASIDE bar*/
.profile-page {
 outline: 1px solid red !important;
}
.profile-name {
 outline: 1px solid red !important;
}
.picture-info-container {
  /*for older browsers*/
  display: -webkit-flex;
  display: flex;
  /*allows children to sit next to each other*/
}
/*children of the .picture-info-container*/
 .my-info {
  margin: auto; 
  max-width: 185px;
  max-height: 150px;
  width: 55%;
  outline: 1px solid red !important;
}
.my-picture{
  max-width: 160px;
  max-height: 140px;
  width: 45%;
  height: 140px;
  outline: 1px solid red !important;
}
.prof-pic {
  border-radius: 2px;
  height: 95%;
  width: 95%;
}
h3 {
  color: black;
}
/*children of the .picture-info-container*/
