
body {
  background-color: #e1e8ed;
  margin: 40px 200px 100px 200px;
}
section, aside, footer {
  background: #fff;
  border: 1px solid;
  border-radius: 6px;
  color: #fff;
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  font-weight: 400;
  padding: 12px 17px;
  text-align: center;
}

section,
aside,
footer {
  margin: 0 1.5% 42px 1.5%;
}
section {
  float: right;
  width: 55%;
  height: 100%;
  position: relative;
}
aside {
  float: left;
  width: 30%;
  height: 600px;
}
footer {
  clear: both;
  margin-bottom: 0;
}
header{
  text-align: center;
}
ul {
  float: left;
  display: inline-block;
  list-style: none;
  padding-left: 20px;
  overflow: hidden;
}
li {
  font-family: 'Lato', sans-serif;
  color: black;
  font-weight: 400;
  padding: 10px;
  font: black;
  border-style:solid; border-color: grey; border-width: thin; border-radius: 4px; !important
}
.nav-bar {
  display: inline;
  text-align: center;
}
header.main-header {
  display: inline;
  vertical-align: top;
}
nav li{
  display: inline;
  margin-right: 40px;
}

/*Display Tweets*/
.tweets {
  margin-top: 15px;
  height: 600px;
  width: 78%;
  text-align: left;
  font-size: 18px
}

/*Input Box for user tweets*/
 form {
  font-family: 'Lato', sans-serif;
  color: black;
  border: 1px hsla(15, 7%, 68%, 0.84) solid;
  background: #e1e8ed;
  display: block;
  height: 50px;
  width: 560px;
  border-radius: 4px;
}
.user-tweet {
  height: 38px;
  width: 94%;
  position: absolute;
}
.user-tweet p {
  text-align: left;
}
form input {
  height: 30%;
  border-radius: 10px;
  padding: 6px 8px 6px 4px;;
  width: 470px;
}
.input-text{
  height: 20px;
  padding-left: 8px;
}
.twitter-box {
  margin-top: -5px;
  margin-left: 8px;
  position: relative;
}
button[type="submit"]{
  height: 25px;
  width: 60px;
  float: right;
}
.submit-button {
  float: right;
}
